[Desktop Entry]
Name=Postman
Comment=Modern software is built on APIs.
GenericName=REST Client
Exec=/usr/local/google/Postman/Postman
Icon=/usr/share/icons/hicolor/128x128/apps/postman-logo.png
Type=Application
Categories=WebDevelopment;Network;Development;
Terminal=false
