[Desktop Entry]
Name=Spring Tool Suite 4
Comment=Eclipse-based development environment customized for Spring applications.
GenericName=Spring IDE
Exec=/usr/local/spring/sts/SpringToolSuite4
Icon=/usr/share/icons/hicolor/128x128/apps/spring-tools-4-logo.png
Type=Application
Categories=TextEditor;Development;
Terminal=false
