[Desktop Entry]
Name=Spring Tool Suite
Comment=Eclipse-based development environment customized for Spring applications.
GenericName=Spring IDE
Exec=/usr/local/spring/sts-bundle/sts-3.8.4.RELEASE/STS
Icon=/usr/share/icons/hicolor/128x128/apps/spring-tool-suite-logo.png
Type=Application
Categories=TextEditor;Development;
Terminal=false
