#!/bin/sh -eux
# install appdynamics java agent by appdynamics.

# set appdynamics java agent installation variables. ---------------------------
username="<username>"
password="<password>"
agent_release="<agent_release - such as '4.4.1.21006'>"
appd_home="/opt/appdynamics"
agent_home="appagent"
agent_folder="${agent_home}-${agent_release}"
agent_binary="AppServerAgent-${agent_release}.zip"

controller_host="apm"
controller_port="8090"
application_name="<application_name - such as 'Spring Boot'>"
tier_name="<tier_name - such as 'Spring Boot Web'>"
node_name="<node_name - such as 'Development'>"
account_name="<account_name - such as 'customer1'>"
account_access_key="<account_access_key - such as '01234567-89ab-cdef-0123-456789abcdef'>"

# create appdynamics java agent parent folder. ---------------------------------
mkdir -p ${appd_home}/${agent_folder}
cd ${appd_home}/${agent_folder}

# set current date for temporary filename. -------------------------------------
curdate=$(date +"%Y-%m-%d")

# install appdynamics java agent -----------------------------------------------
# authenticate to the appdynamics domain and store session id in a file.
curl --silent --cookie-jar cookies-${curdate}.txt --data "username=${username}&password=${password}" https://login.appdynamics.com/sso/login/

# download the appdynamics java agent binary.
curl --silent --location --remote-name --cookie cookies-${curdate}.txt https://download.appdynamics.com/download/prox/download-file/sun-jvm/${agent_release}/${agent_binary}
chmod 644 ${agent_binary}

rm -f cookies-${curdate}.txt

# extract appdynamics java agent binary.
rm -f ${agent_home}
unzip ${agent_binary}
chown -R vagrant:vagrant .
rm -f ${agent_binary}
cd ${appd_home}
ln -s ${agent_folder} ${agent_home}

# configure appdynamics java agent ---------------------------------------------
agent_config_file="controller-info.xml"
cd ${appd_home}/${agent_folder}/conf
cp -p ${agent_config_file} ${agent_config_file}.orig

sed -i -e "s/<controller-host>/<controller-host>${controller_host}/g" ${agent_config_file}
sed -i -e "s/<controller-port>/<controller-port>${controller_port}/g" ${agent_config_file}
sed -i -e "s/<application-name>/<application-name>${application_name}/g" ${agent_config_file}
sed -i -e "s/<tier-name>/<tier-name>${tier_name}/g" ${agent_config_file}
sed -i -e "s/<node-name>/<node-name>${node_name}/g" ${agent_config_file}
sed -i -e "s/<account-name>/<account-name>${account_name}/g" ${agent_config_file}
sed -i -e "s/<account-access-key>/<account-access-key>${account_access_key}/g" ${agent_config_file}
