install
cdrom
graphical
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'
network --bootproto=dhcp --onboot=on --device=eth0
network --hostname=centos76-desktop.devops.com
rootpw vagrant
firewall --disabled
selinux --permissive
timezone America/Detroit --isUtc
unsupported_hardware
xconfig --startxonboot
eula --agreed
bootloader --location=mbr
text
zerombr
clearpart --all --initlabel
part /boot --asprimary --fstype="xfs" --size=1024
part / --fstype="xfs" --size=51200
part swap --fstype="swap" --size=8192
part /opt --fstype="xfs" --grow --size=65536
auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
reboot --eject
user --name=vagrant --plaintext --password vagrant

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@kde-desktop
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11

# devops 2.0 utilities.
yum-utils
bind-utils
unzip
vim-enhanced
tree
bc

# vagrant needs this to copy initial files via scp
openssh-clients
sudo
kernel-headers
kernel-devel
gcc
make
perl
selinux-policy-devel
wget
nfs-utils
net-tools
bzip2
-fprintd-pam
-intltool

# unnecessary firmware
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-ivtv-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl1000-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
%end

%addon com_redhat_kdump --disable
%end

%post
# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant

#Enable hyper-v daemons only if using hyper-v virtualization
if [ $(virt-what) == "hyperv" ]; then
  yum -y install hyperv-daemons cifs-utils
  systemctl enable hypervvssd
  systemctl enable hypervkvpd
fi

# disable graphical confirmation of initial setup.
systemctl disable initial-setup-graphical
%end
